##############################################################################
# vars.cfg                                                                   #
# --------                                                                   #
#                                                                            #
# Variables shared with all parts of the system                              #
##############################################################################
# Comment lines must have a hash as first character; whitespace followed by  #
# a hash is not allowed.                                                     #
#                                                                            #
# Blank lines will not be parsed.                                            #
#                                                                            #
# Config lines must have a format of NAME=value. Neither the name nor the    #
# value may contain an equals sign. The name may not contain spaces, but the #
# value may contain spaces.                                                  #
##############################################################################

PARTE_PHPD_IN_SOCKET_DOMAIN=/tmp/phpd_in.sock
PARTE_PHPD_OUT_SOCKET_DOMAIN=/tmp/phpd_out.sock
PARTE_PHPD_CMD_END=PARTE_PHPD::END
PARTE_PHPD_CMD_FILE=PARTE_PHPD::FILE
PARTE_PHPD_CMD_VAR=PARTE_PHPD::VAR
PARTE_PHPD_REPLY_CLOSE=REPLY::ACK_CLOSE
PARTE_PHPD_REPLY_BAD_MSG=REPLY::BAD_MESSAGE
PARTE_PHPD_REPLY_BAD_MSG_LEN=REPLY::BAD_MESSAGE_LENGTH
PARTE_PHPD_REPLY_BAD_CODE=REPLY::BAD_CODE
PARTE_PHPD_REPLY_CODE=REPLY::ACK_CODE
PARTE_PHPD_REPLY_VAR=REPLY::VARIABLE_VALUE:
PARTE_PHPD_REPLY_BAD_VAR=REPLY::BAD_VARIABLE
PARTE_PHPD_REPLY_FILE=REPLY::ACK_FILE
PARTE_PHPD_REPLY_BAD_FILE=REPLY::BAD_FILE
